<%- include('../partials/header') %>

<div class="container-fluid recipe-detail">
    <div class="row justify-content-center">
        <h4 class="recipe-title"><%= recipe.title %></h4>
    </div>
    <div class="row justify-content-center">
        <img src="<%= recipe.image %>" alt="" class="img-responsive">
    </div>
    <div class="row justify-content-center">
        <div class="container recipe-content">
            <p>
                <b>Ingredients:</b>
                <br>
                <%- recipe.ingredients %>
                <br>
                <b>Directions:</b>
                <br>
                <%- recipe.directions %>
            </p>
        </div>
    </div>
    <div class="container justify-content-left" style="padding: 0;">
        <a href="/">Home</a>
        <br>
        <br>
    </div>
</div>

<%- include('../partials/footer') %>