<%- include('../Partials/header') %>

<div class="container-fluid recipes">
    <% recipes.forEach(function(recipe){ %>
        <div class="row recipe">
            <div class="col recipe-column">
                <h3 class="recipe-title"><%= recipe.title %></h3>
            </div>
            <div class="col button-column">
                <div class="btn-group" role="group">
                    <a href="/Recipes/<%= recipe._id %>" class="btn btn-success">View</a>
                    <a href="/Recipes/<%= recipe._id %>/Edit" class="btn btn-primary">Edit</a>
                    <form class="delete-form" action="/Recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="link" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
    <div class="row">
        <a href="/Recipes/new" class="btn btn-primary btn-lg new-recipe-btn">Create New Recipe</a>
    </div>
</div>

<%- include('../Partials/footer') %>