<%- include('../Partials/header') %>

<div class="container-fluid recipes">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% recipes.forEach(function(recipe){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <% if (recipe.image != ""){ %>
                        <img src="<%= recipe.image %>">
                    <% } else { %>
                        <img src="/images/placeholder.png">
                    <% } %>
                    <div class="caption">
                        <h4 class="recipe-title"><%= recipe.title %></h4>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="/recipes/<%= recipe._id %>" class="btn btn-success">View</a>
                        <a href="/recipes/<%= recipe._id %>/Edit" class="btn btn-primary">Edit</a>
                        <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button type="link" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;"></div>
        <div class="col-md-3 col-sm-6">
            <a href="/recipes/new" class="btn btn-primary btn-lg new-recipe-btn">Create New Recipe</a>
        </div>
    </div>
</div>

<%- include('../Partials/footer') %>